{% extends "base.html" %}

{% block content %}
<h1 class="title">
    {{ section.title }}
</h1>
<article>
    {% if config.base_url == "https://felix.bause.dev" %}
    <hanko-auth api="https://33f7bc9d-fbf3-4531-9768-1f221b3ae4e1.stg.hanko.io"></hanko-auth>
    {% elif config.base_url == "http://localhost:3000" %}
    <hanko-auth api="https://576702ec-9052-4732-af6a-19e40a8b57af.stg.hanko.io"></hanko-auth>
    {% endif %}
</article>

<script type="module">
    import { register } from 'https://esm.sh/@teamhanko/hanko-elements@0.4.0-alpha';

    register({ shadow: true });
    document.addEventListener('hankoAuthSuccess', (event) => {
        console.log(event);
        document.location.href = '/api/privileged'
    })
</script>
{% endblock content %}